<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style><%= htmlWebpackPlugin.options.pageStyle %></style>
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.appMountId %>" />
  </body>
</html>
